<div id="<%= dom_id errorcode %>">
  <p>
    <strong>Ref:</strong>
    <%= errorcode.ref %>
  </p>

  <p>
    <strong>Msg:</strong>
    <%= errorcode.msg %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= errorcode.desc %>
  </p>

</div>
