<h1>Editing errorcode</h1>

<%= render "form", errorcode: @errorcode %>

<br>

<div>
  <%= link_to "Show this errorcode", @errorcode %> |
  <%= link_to "Back to errorcodes", errorcodes_path %>
</div>
