<h1>Editing opening hour</h1>

<%= render "form", opening_hour: @opening_hour %>

<br>

<div>
  <%= link_to "Show this opening hour", @opening_hour %> |
  <%= link_to "Back to opening hours", opening_hours_path %>
</div>
