<h1>Editing exemption</h1>

<%= render "form", exemption: @exemption %>

<br>

<div>
  <%= link_to "Show this exemption", @exemption %> |
  <%= link_to "Back to exemptions", exemptions_path %>
</div>
