<div id="<%= dom_id satting %>">
  <p>
    <strong>Start time:</strong>
    <%= satting.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= satting.end_time %>
  </p>

  <p>
    <strong>Openinghour:</strong>
    <%= satting.openinghour_id %>
  </p>

</div>
